/* Root Styles */
:root {
    --blue: rgb(62, 147, 212);
    --orange: rgb(243, 190, 0);
    --gray: rgb(230, 230, 233);
}

/* General Styles */
body {
    display: grid;
    grid-template-columns: clamp(210px, 20vw, 250px) 1fr;
    grid-template-rows: 135px 1fr;
    height: 100vh;
    box-sizing: border-box;
    margin: 0;
    font-family: "Roboto", sans-serif;
}

/* Sidebar Styles */
#sidebar {
    background-color: var(--blue);
    grid-row: 1 / 3;
    padding: 12px;
    color: white;
    letter-spacing: 0.25px;
}

#sidebar-top {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 12px;
    margin-bottom: 42px;
}

#sidebar-top svg {
    height: 36px;
}

#sidebar-top h1 {
    margin: 0;
    font-size: 1.3rem;
}

nav {
    display: grid;
    gap: 52px;
}

.nav-list {
    list-style: none;
    padding: 0 8px;
    margin: 0;
    display: grid;
    gap: 16px;
}

.nav-list li {
    display: grid;
    grid-template-columns: 20px auto;
    align-items: center;
    gap: 20px;
    font-weight: bold;
    cursor: pointer;
}

/* Header Styles */
header {
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 2;
    padding: 4px 54px 10px 36px;
    display: grid;
    grid-template-rows: auto 1fr;
    row-gap: 12px;
}

#header-top {
    display: grid;
    grid-template-columns: auto 230px;
    column-gap: clamp(25px, 8vw, 100px);
}

#header-top div {
    display: flex;
    align-items: center;
}

#search-icon {
    height: 20px;
}

#search-bar {
    border: none;
    background-color: var(--gray);
    margin-left: 15px;
    padding: 4px 16px;
    border-radius: 13px;
    width: 100%;
}

#user-top {
    display: grid;
    column-gap: 22px;
}

#notif-icon {
    height: 18px;
    cursor: pointer;
}

#user-top .user-icon {
    height: 36px;
    border-radius: 100%;
}

.user-name {
    font-weight: bold;
}

#header-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
}

#user-info {
    display: grid;
    column-gap: 32px;
    grid-template-columns: 40px auto;
}

#user-info .user-icon {
    height: 56px;
    border-radius: 100%;
}

#user-info div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3px;
}

#user-info p {
    margin: 0;
    font-weight: bold;
    font-size: 0.75rem;
}

#user-info .user-name {
    font-size: 1.3rem;
}

#btns {
    display: grid;
    grid-template-columns: 85px 85px 85px;
    column-gap: 22px;
}

#btns button {
    border: none;
    background-color: var(--blue);
    color: white;
    padding: 9px 0;
    font-weight: bold;
    font-size: 0.8rem;
    border-radius: 20px;
    cursor: pointer;
}

/* Main Section Styles */
main {
    background-color: var(--gray);
    padding: 16px 28px 40px 16px;
    display: grid;
    grid-template-columns: auto clamp(150px, 20vw, 275px);
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "proj anno" "proj trend";
    grid-gap: 22px 20px;
}

main h2 {
    margin: 8px 0;
    font-size: 1.1rem;
}

#projects-section, #announcements-section, #trending-section {
    display: grid;
    grid-template-rows: auto 1fr;
}

#projects-section {
    grid-area: proj;
}

#announcements-section {
    grid-area: anno;
}

#trending-section {
    grid-area: trend;
}

/* Projects Section Styles */
#projects-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 22px 20px;
}

.project-card {
    background-color: white;
    border-radius: 6px;
    border-left: 6px solid var(--orange);
    padding: 25px 18px 21px 18px;
    display: grid;
    grid-template-rows: 20px auto 20px;
    box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.2);
}

.project-title {
    margin: 0;
    font-weight: bold;
}

.project-desc {
    margin: 0;
    font-size: 0.85rem;
    color: gray;
}

.project-icons {
    justify-self: end;
    display: grid;
    grid-template-columns: 20px 20px 20px;
    column-gap: 24px;
}

.project-icons svg {
    cursor: pointer;
}

/* Announcements Section Styles */
#announcements-grid {
    display: grid;
    grid-template-rows: auto auto auto;
    background-color: white;
    border-radius: 6px;
    padding: 10px 24px;
    box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.2);
}

.announcement-div:not(:last-child) {
    border-bottom: 1px solid rgb(210, 210, 210);
}

.announcement-title {
    margin: 14px 0 1px;
    font-weight: bold;
    font-size: 0.8rem;
}

.announcement-desc {
    margin: 0 0 14px;
    font-size: 0.65rem;
    color: gray;
}

/* Trending Section Styles */
#trending-grid {
    display: grid;
    grid-template-rows: auto auto auto auto;
    align-items: center;
    row-gap: 16px;
    background-color: white;
    border-radius: 6px;
    box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.2);
    padding: 18px;
}

.trend-div {
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 16px;
}

.trend-div .user-icon {
    height: 38px;
    border-radius: 100%;
}

.trend-div div {
    align-self: center;
}

.trend-name {
    margin: 0 0 2px;
    font-size: 0.8rem;
}

.trend-desc {
    margin: 0;
    color: gray;
    font-size: 0.8rem;
}