:root {
    --blue: rgb(62, 147, 212);
    --orange: rgb(255, 221, 0);
}

body {
    display: grid;
    grid-template-columns: 1fr 4.5fr;
    grid-template-rows: 125px auto;
    min-height: 100vh;
    margin: 0;
}

#sidebar {
    background-color: var(--blue);
    grid-row: 1 / 3;
}

header {
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 2;
}

main {
    background-color: rgb(230, 230, 233);
}