/* Root Styles */
:root {
    --blue: rgb(62, 147, 212);
    --orange: rgb(255, 221, 0);
}

/* General Styles */
body {
    display: grid;
    grid-template-columns: clamp(210px, 20vw, 250px) 1fr;
    grid-template-rows: 125px auto;
    min-height: 100vh;
    margin: 0;
    font-family: "Roboto", sans-serif;
}

/* Sidebar Styles */
#sidebar {
    background-color: var(--blue);
    grid-row: 1 / 3;
    padding: 12px;
    color: white;
    letter-spacing: 0.25px;
}

#sidebar-top {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 12px;
    margin-bottom: 36px;
}

#sidebar-top svg {
    height: 36px;
}

#sidebar-top h1 {
    margin: 0;
    font-size: 1.3rem;
}

nav {
    display: grid;
    gap: 52px;
}

.nav-list {
    list-style: none;
    padding: 0 8px;
    margin: 0;
    display: grid;
    gap: 16px;
}

.nav-list li {
    display: grid;
    grid-template-columns: 20px 1fr;
    align-items: center;
    gap: 20px;
    font-weight: bold;
    cursor: pointer;
}

/* Header Styles */
header {
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 2;
}

main {
    background-color: rgb(230, 230, 233);
}